<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= author.country_id %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= author.birth_date %>
  </p>

</div>
